body,
html {
    height: 100%;
    margin: 0px;
}

.bg {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/rN0W64K4ipau8gxv/videoblocks-3d-model-of-human-brain-4k-computer-generated-animation-on-black-background-seamless-loop_hf_ghziof_thumbnail-full01.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    
    
    
}

.bg4 {


        /* The image used */
        background-image: url("https://images.unsplash.com/photo-1465080207318-3de7361f84e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
        /* Set a specific height */
        height: 900px; 
        margin-top:-90px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
}
.bg3 {
    background-color: #000000;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    
    
    
}

.bg p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Questrial', sans-serif;
    font-size: 5vmax;
    color: white;
    position: fixed;
}

.big {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Questrial', sans-serif;
    font-size: 5vmax;
    color: white;
    position: relative;
}
.bg-1 {
    background:url("https://atap.google.com/soli/static/img/hello/hero-chip.png");
    background-size: 354px 285px;
    
    height: 100%;
    background-position:50% 30% ;
    background-repeat: no-repeat;
    
    /* Set a specific height */
    /* Create the parallax scrolling effect */
}

.bg-55 {
    background:url("https://atap.google.com/soli/static/img/applications/applications-chip.png");
    background-size: 228px 315px;
    
    height: 100%;
    background-position:50% 30% ;
    background-repeat: no-repeat;
    
    /* Set a specific height */
    /* Create the parallax scrolling effect */
}
.bg-1 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 4vmax;
    color: black;
    position: relative;
}

.small {
    
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, 0%);
        text-align: center;
        font-family: 'Questrial', sans-serif;
        font-size: 2vmax;
        color: black;
        position: relative;
    


}

.smallwhite{
    
    margin: 0;
    position: absolute;
    top: 45%;
    left: 30%;
    
    text-align: left;
    font-family: 'Questrial', sans-serif;
    font-size: 2vmax;
    color: #fff;
    position: relative;
    width:50%;


}

.smallwhite img {
    position: static;
    transform: translate(600%, -100%);
    border-radius: 100%;
    
}


#gradient {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 90px 100vw 0 0;
    border-color: black  transparent transparent transparent;
    transform: scale(1.0001);
  }

#gradient2 {
    width: 0;
    height: 0;
    margin-top:-90px;
    border-style: solid;
    border-width: 90px  0 0 100vw;
    border-color: transparent white black white ;
    transform: scale(0.99999);
  }
  #gradient3 {
    width: 0;
    height: 0;
    margin-top:-90px;
    border-style: solid;
    border-width: 90px  100vw 0 0 ;
    border-color: white transparent white ;
    transform: scale(0.99999);
  }

svg {
    display: block;
    width: 100%;
    height: 90px;
  }
.scroll-downs {
    position: fixed;
    top: 0;
    left: 1300px;
    bottom: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }